---
// src/pages/misburgers.astro
import MainLayout from "../layouts/MainLayout.tsx"; // o usa HTML directo si quieres
import MisBurgersPageWrapper from "../components/MisBurgersPageWrapper.tsx";
---

<html lang="es">
  <head>
    <title>Mis Burgers</title>
  </head>
  <body class="bg-white text-black">
    <MainLayout>
      <MisBurgersPageWrapper client:only="react" />
    </MainLayout>
  </body>
</html>
