---
// src/layouts/ClerkLayout.astro
import NavbarProviderWrapper from "../components/NavbarProviderWrapper.tsx";
import MainLayout from "./MainLayout.tsx";

const { children, title = "Champions Burger" } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="bg-[#fafafa] text-gray-800 min-h-screen">
    <NavbarProviderWrapper client:only="react" />
    <MainLayout>
      <slot />
    </MainLayout>
  </body>
</html>
